/* login.css */

.home {
    background: url(../../assets/images/login_bg.jpg) center center no-repeat;
    background-color: #2a3c5e;
  }
.login-wrap {
  height: 600px;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.pt-200 {
  padding-top: 200px;
}
.card {
  margin: 60px auto 0;
  width: 350px;
}

.card-footer {
  background-color: #F7F7F7;
  border-top: none;
}

.feature {
  padding: 5rem;
}

.forget-password{
  text-align: right;
  font-size: 12px;
}

.card-footer-item{
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .card {
      /*margin-top: 50px;*/
  }
}
  