@charset "utf-8";

// Bulma styles start
$radius: 0;
$box-radius: 0;
$box-shadow: 0;
$section-padding: 1.5rem 1.5rem;
$table-cell-border: none;

// Form styles
$label-color: #09263f;
$label-weight: 400;
.label {
  font-size: 0.85rem !important;
}

@import '~bulma/bulma';
// Utility classes
.box .header {
  min-height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.box .tabs-more {
  position: absolute;
  right: 50px;
  padding-top: 10px;
}

.button {
  border-radius: 4px;
}

.button + .button {
  margin-left: 5px;
}

.button-pad {
  padding-left: 50px;
  padding-right: 50px;
}

// Custom styles
.choice li {
  padding: 10px;
  background: #fafafa;
  text-align: center;
  float: left;
  margin-right: 2%;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #fafafa;
  position: relative;
  box-sizing: border-box;
}

.choice li.active {
  border: 1px solid #3273dc;
  background: #fff;
}

.choice li.active:after {
  width: 0;
  height: 0;
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border: 6px solid;
  border-color: transparent #3273dc #3273dc transparent;
}

.choice li.more {
  width: 15%;
  min-width: 140px;
  height: 80px;
  padding-top: 25px;
  margin-right: 0;
  font-size: 14px;
  color: #4f6475;
  background: #fff;
  border: 0;
  cursor: default;
}

.choice li .desc {
  font-size: 12px;
  color: #4f6475;
}

.bd-rainbow {
  -webkit-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 800% 800%;
}

.col-red {
  color: #ed4014;
}

.col-green {
  color: #19be6b;
}

.highcharts-credits {
  display: none !important;
}

.button.is-small {
  border-radius: 4px;
}

img.captcha {
  width: 120px;
  height: 32px;
}

@media screen and (min-width: 1088px) {
  html.has-navbar-fixed-top,
  body.has-navbar-fixed-top {
    padding-top: 4.25rem !important;
  }
}

.level {
  padding: 0 5rem;
}

.site-name {
  padding: 0 5px;
  font-size: 16px;
  font-weight: 800;
}

.home-navbar {
  color: #fff;
  z-index: 12;
  background: rgba(0, 0, 0, 0.3);
  /*border: none*/
}

.home-navbar .site-name {
  color: #fff;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
  height: 36px;
}

.main-content {
  background-color: #f7f7f7;
  min-height: 600px;
}

.navbar-brand .navbar-item,
.navbar-item img {
  width: 8rem;
  height: auto;
  max-height: 3rem;
}

.footer {
  background-color: #1b1e2e;
  color: #fff;
  font-size: 14px;
  padding: 2rem 1.5rem 0rem;
}

.footer p {
  margin-bottom: 10px;
}

.footer a {
  color: #b5b5b5;
}

.share_list {
  text-align: left;
}

.button + .button {
  margin-left: 1rem;
}

.button.is-rounded {
  height: 2rem;
  padding: 0 1rem;
  font-size: 0.9rem;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 0.3;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.share_list .item:hover .poptip-popper {
  animation: fadeIn 0.3s linear forwards;
}

.footer .nav ul > li ul {
  width: 100%;
}

.footer .nav ul {
  width: 1200px;
  font-size: 14px;
  max-width: 100%;
  margin: 0 auto;
}

.footer .nav ul a {
  color: #83929f;
  cursor: pointer;
  line-height: 24px;
}

.footer .nav ul a:hover {
  color: #83929f;
  cursor: pointer;
  line-height: 24px;
}

.share_list .item {
  display: inline-block;
  float: left;
  width: 36px;
  height: 36px;
  color: #000;
  box-sizing: border-box;
  padding-top: 4px;
  margin-right: 20px;
  margin-left: 0;
  /* background-color: #4d5668; */
  background-color: rgba(58, 68, 87, 0.9);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.share_list .item:hover {
  background-color: rgba(93, 110, 143, 0.9);
}

.share_list .item:last-child {
  margin: 0;
}

.share_list .item .social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.copy-right {
  border-top: 1px solid #4d5668;
  padding: 1rem 4rem;
  text-align: center;
}

@media screen and (min-width: 1088px) {
  .home-navbar .navbar-start > .navbar-item,
  .home-navbar .navbar-end > .navbar-item,
  .home-navbar .navbar-link {
    color: #fff;
  }
  .navbar.is-spaced {
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar-item img {
    width: 5rem;
  }
}
.navbar-link::after {
  margin-top: -0.375em;
  right: 1.635em;
  height: 0.425em;
  width: 0.425em;
  border: 1px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  border-color: #000;
}
.home-navbar .navbar-link::after {
  border-color: #fff;
}
