.box {
  margin: 0 auto;
  padding: 30px 50px 50px;
}

.no-drop {
  cursor: no-drop;
}

.control label {
  margin-right: 10px;
  width: 100px;
}

.input {
  width: 600px;
}

.market-item {
  width: 200px;
}

.plantype-item {
  width: 150px;
}

.period-item {
  width: 120px;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px 0;
  }

  .box {
    padding: 30px 10px;
  }
}